.main-block {
  width: 1000px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.main-block__col {
  border: 2px solid #283593;
  border-radius: 15px;
  padding: 5px;
  width: 40%;
  height: 404px;
}
.main-block__element {
  color: #7986CB;
  border: 1px solid #5C6BC0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #fff;
  cursor: move;
  text-align: center;
  text-transform: uppercase;
}
