.main-block {
  width: 1000px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
  /*--.main-block__col {
    width: 40%;
    text-align: center
    border: 5px solid #283593;
    border-radius: 15px;
    height: 400px;
    padding: 5px;
  }
    .main-block__col--left {
      float: left;
    }
    .main-block__col--right {
      float: right;
    }
--*/
